.ContenedorSliderHorizontal {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    min-height: 300px;
    padding: 20px;
}

.Slider {
    display: flex;
}

.Slide {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    background-color: #ccc;
    box-sizing: border-box;
    border-radius: 10px;
    align-items: center;
    padding: .5em;
}

.Slide video {
    width: 200px;

}

.Slide button {
    position: absolute;
    bottom: 0;
}

.TituloVideoHelp {
    color: #111;
    position: absolute;
    left: 1em;
}

.animacionopacity {
    opacity: 0;
    transition: opacity 0.2s ease;
}

.Slide:hover .animacionopacity {
    opacity: 1;
    animation: fadeIn .4s linear;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

img {
    width: 100%;
    height: auto;
    object-fit: contain;
}


.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    gap: 50px;
}

.imagenHistoria {
    width: 60%;
}


.left,
.right {
    width: 80%;
    height: auto !important;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    border-radius: 10px;
    gap: 20px;

}

.left {
    float: left;
    box-shadow: 10px 10px 15px -5px rgba(0, 0, 0, 0.3);
}

.right {
    float: right;
    flex-direction: row-reverse;
    box-shadow: -10px 10px 15px -5px rgba(0, 0, 0, 0.3);
}



.contenedorDatosHistoria {
    width: 50%;
}

.fechaCreacionHistoria {
    font-size: 0.9rem;
    color: #666;
}

.left .fechaCreacionHistoria {
    text-align: end;
}