.contendorHelping {
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    min-height: 300px;

}

.ContenedorSliderHorizontal {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    min-height: 300px;
    padding: 20px;
}

.Slider {
    display: flex;
}

.Slide {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    background-color: #ccc;
    box-sizing: border-box;
    border-radius: 10px;
    align-items: center;
    padding: .5em;
}

.Slide video {
    width: 200px;

}

.Slide button {
    position: absolute;
    bottom: 0;
}

.TituloVideoHelp {
    color: #111;
    position: absolute;
    left: 1em;
}

.animacionopacity {
    opacity: 0;
    transition: opacity 0.2s ease;
}

.Slide:hover .animacionopacity {
    opacity: 1;
    animation: fadeIn .4s linear;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}