.contenedorPageLogin {
    width: 100%;
    height: 100vh;
    background-color: #eee;
}

.contenedorPageLogin span {
    display: block;
    color: tomato;
    font-size: x-small;
}


.contenedorFormLogin {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #093543;
    color: #fff;
    position: fixed;
    z-index: 100;
}



.contenedorFormLogin h1 {
    color: #fff;
    text-decoration: none;
}

.contenedorFormLogin b {
    color: red;
    text-decoration: none;
}

.formularioLogin {
    display: flex;
    height: max-content;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.formularioLogin input {
    outline: none;
    border-radius: .5rem;
    border: none;
    padding: .3rem;
}

.formularioLogin button {
    border-radius: .4rem;
    color: #fff;
    background-color: #ef1582;
    border: none;
    padding: .5rem;
    cursor: pointer;
}

.formularioLogin button:hover {
    background-color: #c61d71;
}



.slider {
    position: absolute;
    width: 50%;
    margin-left: 1em;
    border-radius: 10em;


}

.slider img {
    width: 100%;
    border-radius: 3em;
    object-fit: contain;
}

.contenedorContenidoLogin {
    width: 100%;
    display: flex;
    height: 100%;
    align-items: center;
}

.contenedorTextoLogin {
    width: 30rem;
    height: 60vh;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.contenedorTextoLogin div {
    text-align: center;
    margin: 2rem 0 0 0;
}


.contenedorTextoLogin img {
    width: 2rem;
}